/* 

Selector nos ayuda a selececcionar un elmento de un archivo

.       Selector de clase
            Una clase es un grupo de elementos que comparten características
#       Selector de Id 
NADA    Selector natural 

*/

body{
    padding: 0rem;
    margin: 0rem;
}

.navigation-bar{
    background-color: aqua; 
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

/****** ESTILOS DE LA LISTA DE POKEMONES ******/

.pokemon-list{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.pokemon{
    height: 16rem;
    width: 10rem;
    background: beige;
    margin: 1rem;
}

.pokemon .photo{
    background-color: green;
    height: 8rem;
    overflow: hidden;
}

.pokemon .photo img{
    height: 100%;
}

.pokemon .info{
    background: lightgray;
    padding: 1rem;
}

/************/

.footer{
    background-color: fuchsia;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

ul{
    padding: 1em;
    margin: 0em;
    list-style: none;
}

#main-links{
    color: white;
    background-color: yellowgreen;
}



